// optional get names: https://colornames.org/color/
//    $cOLORS

$color-primary-santander-red: #ec0000;

//-no $color-primary-santander-red-70: #ff3238 !default;
//-no $color-primary-santander-red-60: #ff575a !default;
//-no $color-primary-santander-red-50: #ff7577 !default;
//-no $color-primary-santander-red-40: #ff9294 !default;
//-no $color-primary-santander-red-30: #ffadae !default;
//-no $color-primary-santander-red-20: #ffc9ca !default;
//-no $color-primary-santander-red-10: #ffe4e4 !default;
//-no $color-primary-santander-red-5: #fff1f1 !default;

//-no $color-primary-santander-boston-red: #c00 !default;
//-no $color-primary-santander-ruby-red: #a60000 !default;

// Primary Sky colors

//-no $color-primary-medium-sky: #cbdee8 !default;
//-no $color-primary-light-sky: #deedf2 !default;
//-no $color-primary-dark-sky: #9bc3d3 !default;
//-no $color-primary-accesible-sky: #257fa4 !default; //Ojo

// Secondary Grey colors

//-no $color-secondary-medium-grey: #767676 !default;
//-no $color-secondary-dark-grey: #444 !default;
//-no $color-secondary-light-grey: #ccc !default;

//-no $color-secondary-neutral-grey-100: #333 !default;
//-no $color-secondary-neutral-grey-90: #575757 !default;
//-no $color-secondary-neutral-grey-80: #6a6a6a !default;
//-no $color-secondary-neutral-grey-70: #7c7c7c !default;
//-no $color-secondary-neutral-grey-60: #8f8f8f !default;
//-no $color-secondary-neutral-grey-50: #a2a2a2 !default;
//-no $color-secondary-neutral-grey-40: #b5b5b5 !default;
//-no $color-secondary-neutral-grey-30: #c7c7c7 !default;
//-no $color-secondary-neutral-grey-20: #dadada !default;
//-no $color-secondary-neutral-grey-10: #ececec !default;
//-no $color-secondary-neutral-grey-5: #f6f6f6 !default;

//    $aLeRTS cOLORS

//-no $color-success-dark: #3a8340 !default;
//-no $color-success: #63ba68 !default;
//-no $color-success-light: #f0f8f0 !default;

//  Warning

//-no $color-warning-dark: #946f00 !default;
//-no $color-warning: #fc3 !default;
//-no $color-warning-light: #fffaeb !default;

// error

//-no $color-danger-dark: #900 !default;
//-no $color-danger: #c00 !default;
//-no $color-danger-linght: #fee5e5 !default;

// $acceSIbLe cOLORS

//-no $color-yellow-dark: #946f00 !default;

// Green

//-no $color-green: #008437 !default;

//  Turquoise

//-no $color-turquoise-dark: #137e84 !default;
//-no $color-turquoise: #1bb3bc !default;
//-no $color-turquoise-100: #1bb3bc !default; //ojo
//-no $color-turquoise-90: #32bbc3 !default;
//-no $color-turquoise-80: #49c3ca !default;
//-no $color-turquoise-70: #5fcad0 !default;
//-no $color-turquoise-60: #77d2d7 !default;
//-no $color-turquoise-50: #8dd9de !default;
//-no $color-turquoise-40: #a4e1e5 !default;
//-no $color-turquoise-30: #bbe9eb !default;
//-no $color-turquoise-20: #e8f8f9 !default;
//-no $color-turquoise-10: #e8fcfc !default;
//-no $color-turquoise-5: #f4fcfc !default;

//  blue

//-no $color-blue-dark: #0032e6 !default;
//-no $color-blue: #36f !default;

// Purple

//-no $color-purple-dark: #7c1844 !default;
//-no $color-purple: #9e3667 !default;
//-no $color-purple-100: #9e3667 !default; //ojo
//-no $color-purple-90: #946 !default;
//-no $color-purple-80: #b25f86 !default;
//-no $color-purple-70: #bb7295 !default;
//-no $color-purple-60: #c587a4 !default;
//-no $color-purple-50: #cf9bb3 !default;
//-no $color-purple-40: #d9afc3 !default;
//-no $color-purple-30: #e2c3d2 !default;
//-no $color-purple-20: #ecd7e1 !default;
//-no $color-purple-10: #f6ebf0 !default;
//-no $color-purple-5: #fbf5f8 !default;

//  accesible Sky

//-no $color-accesible-sky: #257fa4 !default; //ojo

//-no $color-primary-crimson: #900 !default;
//-no $color-primary-white: #fff !default;
//-no $color-secondary-domino: #3c3e3f !default;
//-no $color-secondary-zesty: #bcbdbd !default;
//-no $color-secondary-acquaintance: #eef1f2 !default;

// Info

$success: #44af2e !default;
$danger: #c53e3e !default;
$warning: #daa22a !default;
$info: #2251b1 !default;

// Utils

$light: #d4d7dd !default;
$dark: #4c4e53 !default;
